#canvas{
    position: relative;
    background-color: black;
    margin:auto;
    width:500px;
    height:500px;

}

#snake{
    box-sizing: border-box;
    position: absolute; 
    background-color: red;
    width:10px;
    height:10px;
    /* border:1px solid black; */
}
#fruit{
    box-sizing: border-box;
    position: absolute;
    background-color: red;
    /* border:1px solid black; */
    width:10px;
    height:10px;
    
}
#demo{
    box-sizing: border-box;
    margin:auto;
    margin-bottom: 20px;
    border:5px red solid;
    padding:5px 10px;
    text-align: center;
    width:500px;
    letter-spacing: 0.3em;       
}